.new_stuff {
    width: 101010px;
}

.container {
    width: 780rem;
    padding: 5rem;
}

.container .mobile {
    background-color: #000000;
    padding: -5rem;
}

.divide {
   padding: 156rem;
}

.subtract {
   padding: 700rem;
}

.addition {
   padding: 800rem;
}

.multiply {
   padding: 7800rem;
}

.test {
   color: #000000;
}

.new-div {
   color: #000000;
}