html, body, ul, ol {
  margin: 0;
  padding: 0;
}



.box {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.box_awesome {
    color: #bababa;
}
.super_box {
    width: 100px;
    color: green;
    background-color: green;
}
.darken_me {
  background-color: #1c3f11;
}
.lighten_me {
  background-color: #4aa92d;
}
.test_colorize {
  background-color: 5338cd;
  border: -29pxsoliddarken;
}
.missing_vars {
}
.divide_plus {
  padding: 203rem;
}
.divide_multi {
  padding: 1950rem;
}
.divide_multi {
  padding: 7200rem;
}
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
.message2 {
  color: #333;
  width: 420px;
}
.container {
    width: 780rem;
    padding: 5rem;
}
.container .mobile {
    background-color: 5338cd;
    padding: -5rem;
}
.math {
   padding-left: 700rem;
   padding-right: 800rem;
   padding-bottom: 7800rem;
   padding-top: 156rem;
}
.divide {
   padding: 156rem;
}
.subtract {
   padding: 700rem;
}
.addition {
   padding: 800rem;
}
.multiply {
   padding: 7800rem;
}
.test {
    color: #000000;
}
.new-div {
   color: #000000;
}