@import 'variables'
@import 'partial'

.container {
    width: $container;
    padding: $container-padding;
}

.container .mobile {
    background-color: $container-color;
    padding: $container-padding - 10;
}

.divide {
   padding: $container / 5;
}

.subtract {
   padding: $container - 80;
}

.addition {
   padding: $container + 20;
}

.multiply {
   padding: $container * 10;
}

.test {
   color: $container-color;
}

.new-div {
   color: $container-color;
}