@import 'variables'
@import 'partial'
@import 'mixins'
@import 'extended'
@import 'https://assets.statup.io/remote.css'

.box {
    @include transform(rotate(30deg));
}

.box_awesome {
    @include awesome(#bababa);
}

.message {
    @extend %message-shared;
}

.message2 {
    @extend %awesome-design;
}

.container {
    width: $container;
    padding: $container-padding;
}

.container .mobile {
    background-color: $container-color;
    padding: $container-padding - 10;
}

.math {
   padding-left: $container - 80;
   padding-right: $container + 20;
   padding-bottom: $container * 10;
   padding-top: $container / 5;
}

.divide {
   padding: $container / 5;
}

.subtract {
   padding: $container - 80;
}

.addition {
   padding: $container + 20;
}

.multiply {
   padding: $container * 10;
}

.test {
   color: $container-color;
}

.new-div {
   color: $container-color;
}