@import 'reset';
@import 'variables';
@import 'mixins';
@import 'extended';
@import 'https://assets.statup.io/remote.css';

.box {
    @include transform(rotate(30deg));
}

.box_awesome {
    @include awesome(#bababa);
}

.super_box {
  @include coolstuff(100px,green);
}

.darken_me {
  background-color: darken($box-color, 30%);
}

.lighten_me {
  background-color: lighten($box-color, 80%);
}

.test_colorize {
  background-color: $box-color;
  border: 1px solid darken($box-color, 30%);
}

.missing_vars {
  //width: $container-is-not-a-lie;
}

.divide_plus {
  padding: $container / 4 + 8;
}

.divide_multi {
  padding: $container / 4 * 10;
}

.divide_multi {
  padding: $container / 4 * 10 + ((420 * 50) / 4 );
}

.message {
    @extend %message-shared;
}

.message2 {
  @extend %awesome-design;
  width: 420px;
}

.container {
    width: $container;
    padding: $container-padding;
}

.container .mobile {
    background-color: $box-color;
    padding: $container-padding - 10;
}

.math {
   padding-left: $container - 80;
   padding-right: $container + 20;
   padding-bottom: $container * 10;
   padding-top: $container / 5;
}

.divide {
   padding: $container / 5;
}

.subtract {
   padding: $container - 80;
}

.addition {
   padding: $container + 20;
}

.multiply {
   padding: $container * 10;
}

.test {
    color: $container-color;
}

.new-div {
   color: $container-color;
}