@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@mixin awesome($property) {
    color: $property;
}

@mixin coolstuff($width,$color) {
    width: $width;
    color: $color;
    background-color: $color;
}